<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.css" media="screen,projection">
  <script type="text/javascript" scr="/bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" scr="/bower_components/materialize/dist/js/materialize.js"></script>
  <title>Document</title>
</head>
<body>
  <main>
    {% block conteudo %} {% endblock %}
  </main>
</body>
</html>